<section class="faq">
  <div class="inner-container">
    <h3 class="text-center"><strong>Frequently Asked Questions</strong></h3>

    <ul>
      <li>
        <h2>What is MovieTheater? <i class="fas fa-plus"></i></h2>
        <p>
          MovieTheater is the place where the art of cinema merges with modern
          comfort. With four theaters equipped with the latest audio and video
          technologies, we invite you to immerse yourself in a world of engaging
          stories. Our programming embraces diversity, offering a wide range of
          movies, TV series, anime, and documentaries. What makes Slythefilms
          truly unique? No advertising interruptions! Watch as much as you want,
          whenever you want, all at an affordable monthly price. Discover
          something new, with new movies and shows added every week!
        </p>
      </li>
      <li>
        <h2>How much does a ticket cost? <i class="fas fa-plus"></i></h2>
        <p>
          We have two types of tickets. A standard ticket for adults priced at
          €10. A reduced ticket for children up to 12 years old priced at €5.
        </p>
      </li>
      <li>
        <h2>When is the schedule updated? <i class="fas fa-plus"></i></h2>
        <p>The schedule is updated between Wednesday evening and Thursday.</p>
      </li>
      <li>
        <h2>How can I write a review? <i class="fas fa-plus"></i></h2>
        <p>
          From the movie details section, click on the 'Add a review' button.
          You can view reviews from all users on their profile page.
        </p>
      </li>
      <li>
        <h2>
          How can I reserve a seat in the theater? <i class="fas fa-plus"></i>
        </h2>
        <p>
          To reserve a seat, simply follow these steps:
          <br />
          - Login to your MovieTheater account.
          <br />
          - Choose the movie and showtime you want to attend.
          <br />
          - Select the desired seat(s) on the seating chart.
          <br />
          - Complete the reservation process by confirming your selection.
          <br />
          Enjoy your movie experience with the assurance of a reserved seat!
        </p>
      </li>
    </ul>
  </div>
</section>
