<br />
<h1 class="text-center">Add Projection</h1>
<br />
<div class="d-flex justify-content-center">
  <div class="card-container">
    <form
      class="row g-3"
      (ngSubmit)="createProjection()"
      [formGroup]="projectionForm"
    >
      <div class="col-md-6">
        <label for="title" class="form-label">Film Title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="filmTitle"
        />
      </div>
      <div class="col-md-6">
        <label for="title" class="form-label">Film ID</label>
        <input
          type="number"
          id="title"
          class="form-control"
          formControlName="filmId"
        />
      </div>
      <div class="col-md-6">
        <label for="duration" class="form-label">Duration</label>
        <input
          type="number"
          id="duration"
          class="form-control"
          formControlName="duration"
        />
      </div>
      <div class="col-md-6">
        <label for="participant" class="form-label">Date</label>
        <input
          type="date"
          id="participant"
          class="form-control"
          formControlName="date"
        />
      </div>
      <div class="col-6">
        <label for="area" class="form-label">Time</label>
        <input
          type="time"
          id="participant"
          class="form-control"
          formControlName="time"
        />
      </div>
      <div class="col-12">
        <label for="typeC" class="form-label">Hall</label>
        <input
          type="number"
          id="participant"
          class="form-control"
          formControlName="hallId"
        />
      </div>
      <div class="col-12">
        <label for="typeP" class="form-label">Poster</label>
        <input
          type="text"
          id="participant"
          class="form-control"
          formControlName="posterImage"
        />
      </div>
      <div class="col-md-6">
        <label for="typeP" class="form-label">Price</label>
        <input
          type="number"
          id="participant"
          class="form-control"
          formControlName="ticketPrice"
        />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-warning">CONFIRM</button>
      </div>
    </form>
  </div>
</div>
<br />
