<br />
<h1 class="text-center">Update Movie</h1>
<br />

<div class="d-flex justify-content-center">
  <div class="card-container">
    <form class="row g-3" [formGroup]="filmForm" (ngSubmit)="updateFilm()">
      <div class="col-md-6">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          placeholder="Enter title"
        />
      </div>
      <div class="col-md-6">
        <label for="director">Director</label>
        <input
          type="text"
          class="form-control"
          id="director"
          formControlName="director"
          placeholder="Enter director"
        />
      </div>
      <div class="col-md-6">
        <label for="releaseYear">Release Year</label>
        <input
          type="number"
          class="form-control"
          id="releaseYear"
          formControlName="releaseYear"
          placeholder="Enter release year"
        />
      </div>
      <div class="col-md-6">
        <label for="posterImage">Poster Image URL</label>
        <input
          type="text"
          class="form-control"
          id="posterImage"
          formControlName="posterImage"
          placeholder="Enter poster image URL"
        />
      </div>
      <div class="col-md-6">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          formControlName="description"
          placeholder="Enter description"
        />
      </div>
      <div class="col-md-6">
        <label for="duration">Duration</label>
        <input
          type="number"
          class="form-control"
          id="duration"
          formControlName="duration"
          placeholder="Enter duration"
        />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-warning">CONFIRM</button>
      </div>
    </form>
  </div>
</div>
