<nav
  class="navbar navbar-expand-lg custom-navbar"
  style="max-width: 1200px; margin: auto; background-color: white"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #f79420">
      Movie<span style="color: black">Theater</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="checkUser()"
            class="nav-link"
            (click)="navigateToUserPanel()"
            routerLink="/"
            routerLinkActive=""
            >Profilo</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projection" routerLinkActive="active"
            >Showtimes</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/films"
            routerLinkActive="active"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Movies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/top10"
                routerLinkActive="active"
                >Top 10</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/genres"
                routerLinkActive="active"
                >Genres</a
              >
            </li>
          </ul>
        </li>
        <app-search></app-search>
        <div></div>
        <li class="nav-item">
          <a
            *ngIf="checkAdmin()"
            class="nav-link"
            routerLink="/admin"
            routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ul>

      <div class="login-register-logout">
        <a
          *ngIf="!checkUser()"
          class="btn btn-outline-dark my-2 my-sm-0 mt-3"
          routerLink="/login"
          routerLinkActive="active"
          >Login</a
        >
        <a
          *ngIf="!checkUser()"
          class="btn btn-outline-dark my-sm-0 mt-3"
          routerLink="/register"
          routerLinkActive="active"
          >Register</a
        >
        <a
          *ngIf="checkUser()"
          class="btn btn-danger my-2 my-sm-0 mt-3"
          (click)="logout()"
          >Logout <i class="bi bi-box-arrow-left"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
